*{
    margin: 0px;
    padding: 0px;
}

.button{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  table, th, td {

    border: 2px solid #000;
    font-family:sans-serif;
    padding:20px;
    margin:30px;
}

div{
    text-align:center;
}

h1, .header{
    font-weight: bold;
    font-display: underline;
    background-color: #088c72;
    padding:20px;
    
}

caption{
    font-weight:bold;
    text-decoration:underline;
    text-shadow: 10px 10x;
    font-family:'Bebas Neue', sans-serif;
    font-size:30px;
    

}

p{
    text-align:justify;
    font-family:sans-serif;
    padding:20px;
}
.container{
    float: right;
    top: 0px;
    left: 500px;
    width:500px;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size:50px;
    }

.last-link{
    margin:10px, 10px, 10px, 10px;
    padding:10px;
}